.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.List-All {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0.0625rem solid #cbcbcb;
  margin-bottom: 1rem;
}

.List-All td, .List-All th {
  border-left: 0.0625rem solid #cbcbcb;
  border-width: 0 0 0 0.0625rem;
  padding: 0.5rem 1rem;
}

.Header-Item {
  text-align: center;
  background-color: grey;
  padding: 0.35rem;
}

.Refresh-Btn {
  padding: 0.25rem 0.5rem;
}

.Error-Info {
  color: red;
}